<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superarilo.blogsystem.mapper.BlogArticleMapper">
    <select id="selectBlogArticleList" resultType="java.util.Map">
        select
            ba.id,
            ba.publisher,
            DATE_FORMAT(ba.createTime, '%b,%d %Y') as createTime,
            ba.articleTitle,
            ba.articleIntroduction,
            (select count(*) from blog_article_like_list as ball where ball.articleId = ba.id) as articleLikes,
            ba.articleViews,
            ba.articlePicture,
            (select count(*) from blog_article_comment as bac where bac.articleId = ba.id) as commentTotal
        from blog_article as ba order by ba.id desc
    </select>
    <resultMap id="articleContent" type="com.superarilo.blogsystem.vo.BlogArticleContentVO">
        <id property="id" column="id"/>
        <result property="publisher" column="publisher"/>
        <result property="createTime" column="createTime"/>
        <result property="articleTitle" column="articleTitle"/>
        <result property="articleContent" column="articleContent"/>
        <result property="articlePicture" column="articlePicture"/>
        <result property="articleLikes" column="articleLikes"/>
        <result property="articleViews" column="articleViews"/>
        <result property="avatar" column="avatar"/>
        <result property="nickName" column="nickName"/>
        <result property="hasLike" column="hasLike"/>
    </resultMap>
    <select id="selectBlogArticleContent" resultMap="articleContent">
        select
            ba.id,
            ba.publisher,
            ba.createTime,
            ba.articleTitle,
            ba.articleContent,
            ba.articlePicture,
            (select count(*) from blog_article_like_list as ball where ball.articleId = ba.id) as articleLikes,
            ba.articleViews,
            bum.avatar,
            bum.nickName
            <if test="uid != null">
                , (select count(*) from blog_article_like_list as ball where ball.articleId = #{articleId} and ball.uid = #{uid}) as hasLike
            </if>
        from blog_article as ba
        left join blog_user_means as bum on ba.publisher = bum.uid
        where ba.id = #{articleId}
    </select>
    <select id="queryArticleIsHave" resultType="java.lang.Boolean">
        select count(*) from blog_article where id = #{articleId}
    </select>

    <update id="increaseArticleView">
        update blog_article as ba set ba.articleViews = ba.articleViews + 1 where ba.id = #{articleId}
    </update>
</mapper>
